<div class="container" id="sub-navigation">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "My Recipes", user_recipes_path, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "New Recipe", new_user_recipe_path, class: "nav-link" %>
  </li>
</ul>
</div>
