<div id="background-home"></div>

<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card-light" id="homepage-card">
        <div class="card-block">
          <h1 class="card-title" style="color:#A9967A;">recipe.</h1>
          <h6 class="card-subtitle mb-2 text-muted">noun. <em>a set of instructions for making or preparing something, especially a food dish.</em></h6></br>
          <p class="card-text text-center" style="color:#EBFFF2;font-family:kinescope;font-size:48px">Give your recipes a home to call their own.</p></br>
          <%= link_to "Create Your Account", new_user_registration_path, class: "btn btn-outline-success btn-block my-2 my-sm-0" %>
        </div>
      </div>
    </div>
  </div>
</div>
