/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 */

@import "tether";
@import "bootstrap";
@import "masonry/basic";
@import "masonry/centered";
@import "masonry/fluid";
@import "masonry/gutters";
@import "masonry/infinitescroll";
@import "masonry/right-to-left";
@import "masonry/transitions";
@import "font-awesome";
@import "bootsy";


#alerts {
  margin-top: 30px;
}

.card {
  margin: 0 auto;
  float: none;
  margin-top: 10px;
  margin-bottom: 10px;
  .btn-primary {
    margin-left: 15px;
  }
}

#recipe {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  .box {
    background-color: #F2F2F2;
  }
}

#title-div {
  margin-top: 50px;
}

#ingredients-div {
  margin-top: 40px;
  margin-bottom: 20px;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

#directions-div {
  margin-top: 40px;
  margin-bottom: 20px;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.btn.btn-outline-success.my-2.my-sm-0 {
  color: #B5DCC2;
}

.recipe-title {
  font-family: tandelle, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin-top: 100px;
}

.ingredients-label {
  margin-top: -13px;
  margin-bottom: 40px;
  span {
    background-color: #B5DCC2;
    text-align: center;
    font-weight: bold;
    padding: 1%;
  }
}

.directions-label {
  margin-top: -13px;
  margin-bottom: 40px;
  span {
    background-color: #B5DCC2;
    text-align: center;
    font-weight: bold;
    padding: 1%;
  }
}

.ingredients-text {
  margin-top: -20px;
  margin-bottom: 20px;
}

.directions-text {
  margin-top: -20px;
  margin-bottom: 20px;
}

.recipe-footer {
  margin-bottom: 30px;
}
